body {
  background-color: rgba(234, 254, 255, 0.687);
  text-align: center;
}

h3 {
 color: green;   
}

h4 {
  color: rgb(9, 94, 94);
  font-size: 26px;
  text-align: center;  

 }
 
.card {
  text-align: left;
  border: rgb(149, 201, 17) solid 1px;
  background-color:rgb(216, 232, 178);
  padding: 1rem;
  width: 25rem;
  height: 50rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 10px 8px #70c0a4
} 

.recipe-photo {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.like-btn {
  background-color:#70c0a4;
  color: #f3f3f3;
  border:rgb(149, 201, 17) solid 1px;
  border-radius:10px;
}

.likeClick {
    background-color:#cd8fb4;
    color: #ddc422;
    border:none;
    border-radius:10px;
  }