h3 {
 color: green;   
}

#app-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }


  .card {
    text-align: center;
    border: rgb(201, 81, 17) solid 1px;
    padding: 5rem;
    width: 15rem;
    height: 35rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 6px 8px #ad569d
  } 
  
  .recipe-photo {
    justify-self: center;
    height: 15rem;
    width: auto;
  }
  