body {
  background-color: rgba(250, 250, 236, 0.687);
  text-align: center;
  font-family: monospace;
  font-size: smaller;
}

h3 {
 color: green;   
}

h2 {
  letter-spacing: 1px;
}

h4 {
  color: rgb(9, 94, 94);
  font-size: 20px;
  text-align: center;  
  margin: 2px;
  letter-spacing: 1px;
 }
 
 h5 {
  font-size: 15px;
  text-align: center; 
  margin: 0px;
  letter-spacing: 1px; 
 }

p {
  font-size: 12px;
}

button {
  background-color:#d5eee6;
  color: #0c6d74;
  border:rgb(235, 245, 210) solid 1px;
  border-radius:10px;
}

div.no-match {
  margin: 10px;
}

.card {
  text-align: left;
  border: rgb(149, 201, 17) solid 1px;
  background-color:white;
  padding: 1rem;
  width: 30rem;
  height: 40rem;
  display: inline-grid;
  margin: 2rem 2rem;
  border-radius:10px;
}


.recipe-photo {
  justify-self: center;
  border: rgba(161, 207, 225, 0.69)  solid 20px;
  height: 12rem;
  width: auto;
  border-radius:10px;
}

.like-btn {
  height: 100px;
}

.likeClick {
    background-color:#e2f0d2d6;
    color: #ddc422;

  }

.pLikes {
  text-align: center;
  }
/* 
  background-color:#cd8fb4d6; */
